<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Difficulty Level</title>
  </head>
  <body>
    <div id="content">
      <h1 class="title">Choose The Grade Of Difficulty</h1>
      <div class="quiz-setup">
        <ul>
          <li><a class="difficulty-button" data-value="easy">Easy</a></li>
          <li><a class="difficulty-button" data-value="medium">Medium</a></li>
          <li><a class="difficulty-button" data-value="hard">Hard</a></li>
        </ul>
      </div>
    </div>
    <script type="module" src="../js/index.js"></script>
  </body>
</html>
