<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/difficult.module.css" />
    <title>Difficulty Level</title>
  </head>
  <body>
    <div>
      <h1>Choose The Grade Of Difficulty</h1>
      <ul>
        <li><button value="easy">EASY</button></li>
        <li><button value="medium">Medium</button></li>
        <li><button value="hard">Hard</button></li>
      </ul>
    </div>
  </body>
</html>
