<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/game.module.css" />
    <title>Play And Win</title>
  </head>
  <body>
    <div id="container">
      <div id="loading"></div>
      <div id="box-container">
        <p id="question-container"></p>
        <div class="answers">
          <ul id="answers-container"></ul>
        </div>
        <button id="next">Next</button>
      </div>
    </div>
    <script type="module" src="../js/game.js"></script>
  </body>
</html>
