<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/modal.module.css" />
    <title>Modal</title>
  </head>
  <body>
    <div class="modal">
      <h2>Plz Enter Your Name</h2>
      <input type="text" placeholder="Your Name" id="name-input" />
      <button id="submit" type="submit">Submit</button>
    </div>
    <script type="module" src="../js/modal.js"></script>
  </body>
</html>
